/* ----------------------------------------------------------------
	Custom CSS
	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
/* Import */

/* Reset */
body{font-family: 'Roboto', sans-serif;}
form{margin-bottom: 0}
p{margin-bottom: 5px;}
h1, h2, h3, h4, h5, h6{margin-bottom: 15px; font-family: 'Roboto', sans-serif;}
textarea{resize: vertical; min-height: 100px;}
label{font-family: 'Roboto', sans-serif;}

/* Buttons */
.button{text-align: center; font-family: 'Roboto', sans-serif;}
.btn-white{border-color: #fff; color: #fff;}

/* Bootstrap */
.modal-content .close{background: #333 none repeat scroll 0 0; border-radius: 0 0 0 5px; color: #fff; font-size: 34px; padding: 0 9px; position: relative; text-shadow: none; z-index: 2;}

/* Header Styles */
#primary-menu .get-started > a{padding: 27px 10px;}
#primary-menu .get-started > a{display: block; font-style: normal;}
#primary-menu .get-started:hover a > .button{color: #fff; background: #333;}
#header.sticky-header:not(.static-sticky) #primary-menu .get-started > a{ padding-top: 10px; padding-bottom: 10px; }

/* Footer Style */
.footer-logo{margin-top: 30px; opacity: .3;}
.footer-widgets-wrap .social-icon{float: none; display: inline-block;}
.app-store img{max-width: 150px; opacity: .3}
.app-store img:hover{opacity: 4;}

/* Slider */
.home-slider .full-screen{background-image: url('../images/landing/hero.png');background-repeat: no-repeat; background-size: cover; background-position: right top; background-attachment: fixed;}
.slider-caption h2{font-size: 50px;}
.slider-caption h2 span{display: block; color: #333;}

.hero-form{margin-top: 20px; max-width: 450px;}
.hero-form .button{margin: 0; margin-top: 10px;}
.hero-form .form-group:first-child{padding-right: 5px;}
.hero-form .form-group:nth-child(2){padding: 0 5px;}
.hero-form .form-group:last-child{padding-left: 5px;}

.carousel-indicators li{border:1px solid #333;}
.carousel-indicators .active{background: #333;}

/* Promo Section */
.promo-btn{border: 2px solid #fff;}
.promo-btn:hover{border-color: #1abc9c;}

.images-carousel img{margin: 0 auto;}

/* FAQ Section */
.home-faq-section .testi-content p {font-style: normal; font-family: 'Roboto', sans-serif;}
.home-faq-section .testi-content p::before, .home-faq-section .testi-content p::after{content: ""}

@media all and (min-width:1024px){
	.images-carousel{width: 900px;}
}

/* Responsive */
@media all and (max-width:991px){
	.container{width: 100% !important;}
	.home-slider{height: 530px !important}
	.home-slider .full-screen{ }
}

@media all and (max-width:767px){
	.bottommargin-sm{margin-bottom: 5px;}
	.line, .double-line{margin: 30px 0 !important;}
	.bottommargin{margin-bottom: 25px !important;}
	.topmargin{margin-top: 25px !important}
	.col_one_third{margin-bottom: 10px !important;}

	.home-slider .full-screen{background-position: -1000px top; height: 530px !important}
	.promo .form-control{margin-bottom: 10px;}
	.features-txt{text-align: center;}
	.features-txt img{margin: 0 auto;}

	#footer .footer-widgets-wrap{padding: 10px 0;}
	.hero-form .button{display: block !important;}
	.hero-form .form-group{padding: 0 15px;}
}

@media all and (max-width:480px){
	.slider-caption h2{font-size: 38px;}
	.hero-form .button{display: block !important; width: 100%;}
}


/*==========================
	Gift Page Styles
==========================*/
.gift-hero{top: 0 !important; padding: 20px 0; max-width: 450px; margin: 0 auto; text-align: center; height: calc(100vh - 100px);}
.gift-hero img{margin-bottom: 10px; margin-top: 20px;}
.gift-hero h2{margin-bottom: 0;}
.gift-hero p{color: #999; font-size: 16px;}

.gift-section{padding: 40px 0; min-height: 100vh; text-align: center;}
.gift-section h6{color: #1abc9c; font-size: 16px; font-weight: 400;}

.gift-input{position: relative;}
.gift-input input{position: absolute;}
.gift-input label{ display: block; font-weight: 400;}
.gift-content{padding: 50px 10px; display: block; color: #666; position: relative; background: #fff; border: 1px solid #eee;}
.gift-content strong{display: block; font-size: 30px; margin-bottom: 10px;}
.gift-content span{ display: block; margin-bottom: 5px;}

.select-amount input[type=radio]:checked + .gift-content{border-color: #1abc9c;}

.select-person .form-control{height: 40px;}
.stripe-button-container .stripe-button-el{ font-family: "Roboto",sans-serif !important; background: #444 !important; border-radius: 3px !important; border: none !important; height: 40px; font-size: 14px; line-height: 40px;text-transform: uppercase; padding: 0 20px; letter-spacing: 1px;}
.stripe-button-container .stripe-button-el:hover{background: #1abc9c !important;}
.stripe-button-container .stripe-button-el span{background: none !important; font-family: "Roboto",sans-serif !important; border: none; box-shadow: none !important;}

/* Calendar */
.ui-datepicker-inline{width: 100%;}
.ui-datepicker td span, .ui-datepicker td a{padding: 10px 5px;}
.ui-widget.ui-widget-content{background: none; border: none;}
.ui-datepicker .ui-datepicker-header{padding:10px 0;}
.ui-datepicker .ui-datepicker-title{font-size: 20px;}
.ui-datepicker th{text-transform: uppercase; color: #999; font-size: 16px;}
.ui-datepicker td{padding: 3px;}
.ui-datepicker td span, .ui-datepicker td a{text-align: center;}
.ui-widget-content .ui-state-default{border-color: #fff; color: #888; font-weight: bold; font-size: 16px; background: #f4f4f4}
.ui-widget-content .ui-state-default:hover{background: #f1f1f1;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ background: #1abc9c; color: #fff;}
.ui-widget-content .ui-state-active, .ui-widget-content .ui-state-default:focus, .ui-widget-content .ui-state-active:hover{background: #fff; border-color: #1abc9c; color: #666;}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{width: 40px; height: 54px; text-align: center; padding-top: 11px; cursor: pointer;}
.ui-datepicker .ui-datepicker-prev{left: 2px !important;}
.ui-datepicker .ui-datepicker-next{right: 2px !important;}
.ui-datepicker .ui-datepicker-prev:before , .ui-datepicker .ui-datepicker-next:before{font-family: "font-icons"; font-size: 20px;}
.ui-datepicker .ui-datepicker-prev:before{content: '\e70a'}
.ui-datepicker .ui-datepicker-next:before{content: '\e70b'}

/*=======================
	Fixed Banner
=======================*/
.fixed-banner.promo{position: fixed; bottom: 0; left: 0; width: 100%; border-top: 1px solid #fff !important; z-index: 200; padding: 10px 15px !important; border-radius: 0;}
.banner-left{padding-left: 100px; color: #fff;}
.banner-left img{position: absolute; left: 15px; top: 0; background: rgba(255,255,255, .1); padding: 5px 13px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; height: 60px;}
.banner-left h3{line-height: 1; font-size: 20px;}
.banner-left p{margin: 0; font-size: 12px;}
.site-rating span{margin-left: 5px;}
.yellow-star{color: #ffb800;}

.banner-right{text-align: right; padding-right: 100px; padding-top: 10px;}
.banner-right .button{font-weight: normal;}
.banner-right input{background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0; border-color: transparent; display: inline-block; height: 40px; position: relative; top: -2px; width: 200px; color: #fff; margin-right: 5px;}
