/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/
body{font-family: 'Roboto', sans-serif; color: #666; font-size: 14px; font-weight: 300;}
form{margin-bottom: 0}
p{margin-bottom: 5px;}
h1, h2, h3, h4, h5, h6{margin-bottom: 15px; font-family: 'Roboto', sans-serif;}
a:focus{text-decoration: none; outline: none;}
strong, b ,label{font-weight: 500;}
textarea{resize: vertical; min-height: 100px;}

/* Fonts */
.thin-font{font-weight: 100;}
.bold{font-weight: 500;}
.bold-dark{font-weight: 700;}

.font-size-md{font-size: 16px;}

/* Buttons */
.btn{padding: 8px 15px; border-radius: 3px; font-family: 'Roboto'; white-space: normal; font-size: 14px; }
.btn-default , .btn-default:hover{color: #444;}

.btn-default-light.btn-outline{border-width: 1px; border-color: #dddddd; color: #666;}
.btn-default-light.btn-outline:hover{background: #fafafa;}
.btn-default-light.btn-outline.active{background: #448aff; color: #fff; border-color: #2a7aff; box-shadow: none;}

/* Space */
.topmargin{margin-top: 20px;}
.btmmargin{margin-bottom: 20px;}
.btmmargin-lg{margin-bottom: 40px;}
 
/* Forms */
.form-control{height: 40px; font-size: 14px; color: #777;}
.form-group{margin-bottom: 25px;}

/* Fonts */
.checkbox label{font-size: 14px; color: #666;}
.hint{color: #999; font-size: 14px;}

/* Bootstrap */
button.close{position: absolute; right: 15px; top: 10px; color: #999; font-size: 40px; font-weight: 300; color: #000;}
.modal.in .modal-dialog{margin-top: 100px;}
.modal-title{border-bottom: 1px solid #ddd; font-size: 19px; font-weight: 400; margin: 0 -30px; padding-bottom: 15px;}

/* Layout */
#main{padding: 30px 0;}

.navbar-brand{padding: 10px 15px;}
.sidebar .nav-sidebar > li > a{padding: 10px 35px;}

.footer{font-size: 16px;}

/*========================
	Get Started Style
========================*/
.cards-carousel .film_roll_child:not(.active){opacity: .5; pointer-events: none;}
.film_roll_prev, .film_roll_next{background: none !important; color: #666 !important; border:none !important; font-size: 84px!important;}
.cards-carousel .film_roll_prev{left: 27% !important;}
.cards-carousel .film_roll_next{right: 27% !important;}

.service-card{width: 450px; font-size: 16px;}
.service-card > .tabbable{padding: 40px 60px;}
.service-card > .tabbable > .tab-content{padding: 30px; min-height: 360px;}

.tab-content{padding: 30px;}
.task-content{text-align: center; color: #666;}
.task-content .thin-font{color: #999;}

.card-date > span{display: block;}
.card-img{margin: 10px 0;}
.card-img img{margin: 0 auto;}
.card-action{margin-top: 30px;}
.card-action .btn{min-width: 100px;}

/* Add Tasks */
.owl-links{text-align: center;}
.owl-links .item a{text-transform: uppercase; color: #999; font-size: 14px;display: inline-block; padding: 5px 0;}
.owl-links .item a.active{color: #666;}
.owl-links .owl-pagination{display: none;}
.owl-theme .owl-controls{margin: 0; position: absolute;top: -10px; left: 0; width: 100%;}
.owl-theme .owl-controls .owl-buttons div{margin: 0; background: none;padding: 0 10px; position: absolute;}
.owl-theme .owl-controls .owl-buttons div.owl-next{right: -15px;}
.owl-theme .owl-controls .owl-buttons div.owl-prev{left: -15px;}
.owl-theme .owl-controls .owl-buttons div:after{font-family: "FontAwesome"; display: inline-block; color: #666; font-size: 30px;}
.owl-theme .owl-controls .owl-buttons div.owl-next:after{content: "\f105"}
.owl-theme .owl-controls .owl-buttons div.owl-prev:after{content: "\f104"}
.owl-links{}

.tasks-list{padding: 0;margin: 0; list-style: none;}
.tasks-list li{margin: 0 -30px; padding: 15px 25px; border-bottom: 1px solid #eee; font-size: 14px; color: #666;}
.tasks-list li i{color: #ddd; font-size: 20px; margin-right: 10px; position: relative;top: 2px;}
.tasks-list li i.checked{color: #9ccc65;}
.tasks-list li:hover{background: #fdfdfd;}
.tasks-list li:first-child{border-top: 1px solid #eee; margin-top: 10px;}

/*========================
	Feedback & Tips Style
========================*/
.rating-section{margin: 20px 0;text-align: center;}
.star{background-image:none; display:inline-block; float: none; line-height:1; cursor: pointer; zoom:1; width: 40px; height: 30px; text-decoration: none !important;}
.star:before{content: "\f2e7"; display: block; color: #ccc; font-family: "Material Design Iconic Font"; font-size: 36px;}
.tmp_fs:before , .fullStar:before{content: "\f2e5"; color: #ffd54a;}

.tip-amount{margin-bottom: 20px;}
.tip-amount .tip-btn{float: left; width: 25%; padding-right: 5px;}
.tip-amount .tip-btn:last-child{padding-right: 0;}
.tip-amount .tip-btn .button{padding: 20px 5px; font-size: 14px;}

.other-option{display: none;}

/*========================
	Discount Style
========================*/
.discount-card{padding: 30px; padding-bottom: 0; border: none;}
.discount-card .card-action{margin: 30px -30px 0;}
.discount-card .card-action .btn{padding: 20px 10px;}
.promo-link{color: #448aff;}

/*========================
	Pause & Cancel
========================*/
.pause-cancel-card{max-width: 450px; margin: 0 auto;}
.cancel-card > .btn{text-align: left; margin-bottom: 10px;}
.cancel-card .card-action{margin:0;}
.cancel-card p{line-height: 26px;max-width: 350px; margin-left: auto; margin-right: auto;}

.time-range{position: relative;}
.time-range a{position: absolute; font-size: 30px; top: 0px; color:#666; text-decoration: none; }
.time-range a:hover{color: #999;}
.time-range .time-left{left: 5px;}
.time-range .time-right{ right: 5px; }

.pause-options{margin-bottom: 0;}
.pause-options label{margin-bottom: 10px; color: #333;}
.pause-options .btn{margin-bottom: 10px; padding: 15px 12px;}
.pause-options .btn strong{ display: block; font-size: 16px;}
.pause-options .btn span{display: block; font-weight: 300;}

/* Calendar */
.ui-datepicker-inline{width: 100%;}
.ui-datepicker td span, .ui-datepicker td a{padding: 10px 5px;}
.ui-widget.ui-widget-content{background: none; border: none;}
.ui-datepicker .ui-datepicker-header{padding:10px 0;}
.ui-datepicker .ui-datepicker-title{font-size: 20px;}
.ui-datepicker th{text-transform: uppercase; color: #999; font-size: 16px;}
.ui-datepicker td{padding: 3px;}
.ui-datepicker td span, .ui-datepicker td a{text-align: center;}
.ui-widget-content .ui-state-default{border-color: #fff; color: #888; font-weight: bold; font-size: 16px; background: #f4f4f4}
.ui-widget-content .ui-state-default:hover{background: #f1f1f1;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ background: #1abc9c; color: #fff;}
.ui-widget-content .ui-state-active, .ui-widget-content .ui-state-default:focus, .ui-widget-content .ui-state-active:hover{background: #fff; border-color: #1abc9c; color: #666;}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{width: 40px; height: 54px; text-align: center; padding-top: 11px; cursor: pointer; text-decoration: none;}
.ui-datepicker .ui-datepicker-prev{left: 2px !important;}
.ui-datepicker .ui-datepicker-next{right: 2px !important;}
.ui-datepicker .ui-datepicker-prev:before , .ui-datepicker .ui-datepicker-next:before{font-family: "FontAwesome"; font-size: 20px;}
.ui-datepicker .ui-datepicker-prev:before{content: '\f053'}
.ui-datepicker .ui-datepicker-next:before{content: '\f054'}

/*========================
	Profile
========================*/
.profile-card{max-width: 600px; margin: 0 auto;}
.profile-tab label{display: block;}

/*==================
	Responsive
==================*/
@media all and (max-width:1024px){
	.cards-carousel .film_roll_prev{left: 20px !important;}
	.cards-carousel .film_roll_next{right: 20px !important;}
}

@media all and (max-width:991px){

}

@media all and (max-width:767px){
	.navbar-brand img{margin: 0 auto;}
}

@media all and (max-width:480px){
	.cards-carousel .film_roll_prev{left: -5px !important;}
	.cards-carousel .film_roll_next{right: -5px !important;}
	.service-card{width: 360px;}
	.service-card > .tabbable{padding: 20px;}
	.btn{padding: 8px; font-size: 13px;}
}


/*========================
	Onboarding Style
========================*/
.onboarding-wizard{padding: 50px 0;}
.onboarding-wizard .panel-title{text-align: center; text-transform: uppercase; font-weight: 300; margin-bottom: 30px;}

.wizard-step{padding-right: 40px; border-right: 1px solid #ddd;}
.wizard-step .panel-body{padding: 40px 60px;}
.wizard-step label{display: block; font-size: 16px;}
.wizard-step .hint{max-width: 400px; text-align: center; margin: 0 auto; color: #999; font-weight: normal;}

.days-select{margin-bottom: 30px;}
.day-btn{float: left;width: 20%; padding: 0 5px;}
.day-btn .btn-default-light{color: #666; padding: 25px 10px;}

.select-hours{}
.select-hours input{height: 68px;}
.select-hours .btn{padding: 20px 10px; font-size: 20px; color: #666;}

.first-visit{}
.first-visit .btn{text-align: left;position: relative; padding: 15px; padding-right: 30px;}
.first-visit .btn span{display: block; font-size: 14px;}
.first-visit .btn b{position: absolute; right: 15px; top: 13px; font-size: 32px; font-weight: 700;}

.wizard-action{padding: 25px 15px; border-radius: 0 0 4px 4px;}

.wizard-info{border: 1px solid #ccc; padding: 15px; border-radius: 4px; margin-bottom: 15px; }
.wizard-info .info-txt{position: relative; padding-left: 60px; min-height: 40px;}
.wizard-info .info-txt i{position: absolute; font-size: 36px; left: 15px; top: -6px;}

.summary-block{padding-left: 40px;}
.summary-block .panel-title{margin: 20px 0 0;}
.summary-block .list-group-item{padding: 15px;}

.intercom-link{padding: 15px 10px; position: relative;}
.intercom-link i{position: absolute; right: 15px; font-size: 20px;}
.modal .btn{min-width: 100px;}

/* FAQ Section */
.faq-accordion .panel-title{margin: 0; padding: 7px 0;}
.faq-content{border-bottom: 1px dashed #ddd; padding-bottom: 10px; margin-bottom: 10px;}
.faq-content strong{display: block; color: #2a7aff; margin-bottom: 5px; font-size: 16px;}

@media all and (max-width:767px){
	.onboarding-wizard{padding: 20px 0;}
	.wizard-step{padding-right: 15px;}
	.summary-block{padding-left: 15px;}
	.wizard-step .panel-body{padding: 30px 15px;}
}

@media all and (max-width:480px){
	.day-btn{padding: 0;}
	.day-btn .btn{border-radius: 0; border-right: none;}
	.day-btn:last-child .btn{border-right: 1px solid #bdbdbd; border-radius: 0 4px 4px 0;}
	.day-btn:first-child .btn{border-radius: 4px 0 0 4px;}

	.first-visit .btn{padding: 5px;text-align: center;}
	.first-visit .btn b{position: static; display: block;}
}




